
<div *ngIf="userEventParticipation">
    <h2><span>User Event Participation</span> {{userEventParticipation.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>User Profile</span></dt>
        <dd>
            <div *ngIf="userEventParticipation.userProfile">
                <a [routerLink]="['/user-profile', userEventParticipation.userProfile?.id]">{{userEventParticipation.userProfile?.id}}</a>
            </div>
        </dd>
        <dt><span>Event</span></dt>
        <dd>
            <div *ngIf="userEventParticipation.event">
                <a [routerLink]="['/event', userEventParticipation.event?.id]">{{userEventParticipation.event?.id}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'user-event-participation/'+ userEventParticipation.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
